@model IEnumerable<WebApplication59.Models.chengji>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.xueshengxuehao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Xueshengxingming)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Xueshengxingbie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kechengmingchen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kechengchengji)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.xueshengxuehao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Xueshengxingming)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Xueshengxingbie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kechengmingchen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kechengchengji)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.xuhao }) |
            @Html.ActionLink("Details", "Details", new { id=item.xuhao }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.xuhao })
        </td>
    </tr>
}

</table>
